@use 'variables' as *;
@use 'mixins' as *;

header {
  .container {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%;
    max-width: $width-container;
    margin: 0 auto;
    padding: $padding-container;
    flex-wrap: wrap;
    

    .logo {
      img {
        width: 100%; 
        max-width: $width-img-desktop; 
        height: $height-logo; 
      }
    }

    nav {
      ul {
        display: flex;
        gap: 1.5rem; 
        list-style: none;
        padding: 0;
        font-family: $font-montserrat-bold;
        color: $color-neutro2;

        li {
          display: inline-block;

          a {
            text-decoration: none;
            color: $color-principal1;
            padding: $padding-a-header;
            border-radius: $border-radius;  
            font-size: $font-size-h4;
            font-weight: $font-weight-h;
            transition: background-color 0.3s;

            &:hover {
              background-color: $color-neutro1;
            }
          }
        }
      }
    }

    .icons {
      display: flex;
      gap: 1.5rem;  
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: $color-principal1;
        transition: color 0.3s;
        text-decoration: none;
        

        &:hover {
          color: $color-principal1;
        }

        i {
          font-size: $tamaño-iconos;
        }
      }
    }
  }

  @include respond-to("small") {
    .container {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
    }

    .logo img {
      max-width: $width-img-mobile;
    }

    nav ul {
      flex-direction: column;  
      gap: 0.8rem;  
      width: 100%;  
      text-align: center;  
    }

    nav ul li {
      display: block;  
    }

    .icons {
      margin-top: 1rem;
      justify-content: center;
      gap: 1.2rem;  
    }
  }


  @include respond-to("medium") {
    .container {
      flex-direction: row;
      justify-content: space-between;
      padding: 1.5rem;
    }

    .logo img {
      max-width: $width-img-tablet;
    }

    nav ul {
      flex-direction: column;  
      gap: 1.2rem;
      width: 100%; 
      text-align: center;  
    }

    nav ul li {
      display: block;  
    }

    .icons {
      justify-content: space-between;
      gap: 1.5rem;
    }
  }


  @include respond-to("large") {
    .container {
      max-width: $max-width-large;
      justify-content: space-between;
      padding: 2rem; 
    }

    .logo img {
      max-width: $width-img-desktop;
    }

    nav ul {
      gap: 1.5rem;
      font-size: $font-size-large;
      flex-direction: row;  
      text-align: left;
    }

    .icons {
      gap: 2rem;
      font-size: $font-size-large;
    }
  }
}
